
<ul id="lists">
  <% @lists.each_with_index do |list, number| %>
    <li>
      <a href="/lists/<%= number %>">
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos].size %><p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Add a List</a>
<% end %>

